<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614436786223-bkelebqmkpa2cq71rr7gb5vo7mgmcv3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614436786223-bkelebqmkpa2cq71rr7gb5vo7mgmcv3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCEBxqwDUnWaXVqgCTEw1CPb1FlocWDZ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>614436786223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bringo.bringoRestaurants</string>
	<key>PROJECT_ID</key>
	<string>restaurants-c1a61</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurants-c1a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614436786223:ios:e48323a30bde4d7f9176da</string>
	<key>DATABASE_URL</key>
	<string>https://restaurants-c1a61.firebaseio.com</string>
</dict>
</plist>